<form action="/figures" method="post">
<label>Name:</label>
<input type="text" name="figure[name]"/>
<br/>
<br/>

<label>Titles</label>
<br/>
<% @titles.each do |title| %>
<%= title.name %>
<input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id%>">
<br/>
<% end %>

<label>Create New Title</label>
<input type="text" name="title[name]"%>
<br/>
<br/>

<label>Landmarks</label>
<br/>
<% @landmarks.each do |landmark| %>
<%= landmark.name %>
<input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
<br/>
<% end %>

<label>Create New Landmark</label><br/>
<label>Name:</label>
<input type="text" name="landmark[name]">
<label>Year:</label>
<input type="text" year="landmark[year]">
<br/>

<br/>
<input type="Submit" value="Create New Figure"/>
</form>